## Import Modul untuk test case

In [10]:
import modul as m

In [11]:
trnsct_123 = m.Transaction()

## Test Case 1 -- add_item

In [12]:
trnsct_123.add_item('Ayam Goreng', 2, 20000)
trnsct_123.add_item('Pasta Gigi', 3, 15000)

print('')
print('')

trnsct_123.show_order()

Item yang dibeli adalah Ayam Goreng dengan jumlah 2 dan harga per item 20000. Total adalah 40000
Item yang dibeli adalah Pasta Gigi dengan jumlah 3 dan harga per item 15000. Total adalah 45000


---  -----------  -----------  ----------  -----------
No.  Nama Item    Jumlah Item  Harga/Item  Total Harga
1    Ayam Goreng  2            20000       40000
2    Pasta Gigi   3            15000       45000
---  -----------  -----------  ----------  -----------

## Test Case 2 -- delete_item

In [13]:
trnsct_123.delete_item('Pasta Gigi')
print('')

trnsct_123.show_order()

Anda berhasil menghapus pesanan Pasta Gigi


---  -----------  -----------  ----------  -----------
No.  Nama Item    Jumlah Item  Harga/Item  Total Harga
1    Ayam Goreng  2            20000       40000
---  -----------  -----------  ----------  -----------

##Test Case 3 -- reset_transaction

In [14]:
trnsct_123.reset_transaction()

trnsct_123.show_order()

Semua item berhasil di delete!
---  ---------  -----------  ----------  -----------
No.  Nama Item  Jumlah Item  Harga/Item  Total Harga
---  ---------  -----------  ----------  -----------

## Test Case 4 -- total_price

In [15]:
trnsct_123.add_item('Ayam Goreng', 2, 20000)
trnsct_123.add_item('Pasta Gigi', 3, 15000)
trnsct_123.add_item('Mainan Mobil', 1, 200000)
trnsct_123.add_item('Mie Instan', 5, 3000)

trnsct_123.total_price()

Item yang dibeli adalah Ayam Goreng dengan jumlah 2 dan harga per item 20000. Total adalah 40000
Item yang dibeli adalah Pasta Gigi dengan jumlah 3 dan harga per item 15000. Total adalah 45000
Item yang dibeli adalah Mainan Mobil dengan jumlah 1 dan harga per item 200000. Total adalah 200000
Item yang dibeli adalah Mie Instan dengan jumlah 5 dan harga per item 3000. Total adalah 15000
Anda mendapat diskon sebesar 5%,
 sehingga Anda hanya perlu membayar Rp.285000.00